@model  MVCATP.ViewModels.PlayerFormViewModel
@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Players"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")

    <div class="form-group">
        @Html.LabelFor(m => m.PlayerSurname)
        @Html.TextBoxFor(m => m.PlayerSurname, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PlayerSurname)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PlayerName)
        @Html.TextBoxFor(m => m.PlayerName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PlayerName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Birthday)
        @Html.TextBoxFor(m => m.Birthday, "{0:dd MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Birthday)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Points)
        @Html.TextBoxFor(m => m.Points, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Points)
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.CountryID)
        @Html.DropDownListFor(m => m.CountryID, new SelectList(Model.Countries, "CountryID", "CountryName"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CountryID)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CoachID)
        @Html.DropDownListFor(m => m.CoachID, new SelectList(Model.Coaches, "CoachID", "FullName"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CoachID)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SurfaceID)
        @Html.DropDownListFor(m => m.SurfaceID, new SelectList(Model.Surfaces, "SurfaceID", "SurfaceName"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SurfaceID)
    </div>
    @Html.HiddenFor(m => m.PlayerID)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

